@import './partials/vars';
@import './partials/generals';
@import './partials/utilities';

@import './comics';
@import './header';

.alert-error {
    color: red;
}

.input-error {
    border-color: red;
}

footer {
    padding: 1rem 0;
    text-align: center;
}