.header-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1rem;

    h1 {
        margin-right: auto;
    }
}

.comics-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;

    .card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .card-content{
            img {
                width: 100%;
                aspect-ratio: 9/16;
                object-fit: cover;
            }
        }

        .card-footer {
            .btn {
                display: block;
                width: 100%;
            }
        }
    }

    .btn {
        margin-top: 0.5rem;
    }
}